@model WebQuanLyBanHang.Model.PhieuXuat

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết</h2>

<div>
    <h4>Phiếu xuất</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã phiếu xuất
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaCTPXuat)
        </dd>

        <dt>
            Mã nhập xuất
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongKeNhapXuat.MaNX)
        </dd>

        <dt>
            Tháng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thang)
        </dd>

        <dt>
            Mã sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SanPham.MaSP)
        </dd>

        <dt>
            Tên sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            Số lượng xuất
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLXuat)
        </dd>

        <dt>
            Giá xuất
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaXuat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaCTPXuat }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
