@model IEnumerable<WebQuanLyBanHang.Model.SanPham>

@{
    ViewBag.Title = "Index";
}

<h2>Danh mục sản phẩm</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            Mã sản phẩm
        </th>
        <th>
            Tên loại sản phẩm
        </th>
        <th>
            Tên sản phẩm
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Giá
        </th>
        <th>
            Hình ảnh
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiSP.TenLoaiSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HinhAnh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        <td>
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id=item.MaSP }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.MaSP }) |
            @Html.ActionLink("Xoá", "Delete", new { id=item.MaSP })
        </td>
    </tr>
}

</table>
